header.header
	div.container.header__container
		img.header__logo(src="images/logo.png", alt="ICOVoting")
		nav.menu.header__menu
			ul.list.menu__list
				-
					var menu = ['About', 'Plans', 'Our token', 'Token sale', 'Token distribution', 'Funds distribution', 'Road map', 'Team']
				li.menu__list-item
					button.button.menu__close
						svg.menu__close-icon
							use(xlink:href="images/sprite.svg#icon-close")
				for elem in menu
					li.menu__list-item
						a.menu__link(href="#") #{elem}
			a.menu__link-pdf(href="#") Whitepaper
			button.button.menu__switch(type="button")
				svg.menu__icon
					use(xlink:href="images/sprite.svg#icon-menu")