div.modal.modal--xl
	div.modal__box
		div.modal__inner
			button.button.modal__close close modal
			form.modal__form(name="question", method="post", action="#")
				label.field.field--xl.field--white.field--hidden-hint.modal__field
					span.field__hint Email
					input.field__input.modal__input(name="email", type="email", placeholder="Email", required)
				button.button.button--green.button--small.modal__button I want to know about the start of sale
