@import "../variables";

.about__container {
	margin-bottom: 5rem;
}

.about__title {
	margin-bottom: 2rem;
}

.about__in-numbers {
	padding: 3rem 5rem 4rem 4rem;
	background-color: $light-black;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0.1px 2px 18.1px 2.9px rgba(9, 12, 18, 0.24);
}

.about__text {
	display: block;
	margin-bottom: 3rem;
}

.about__amount {
	text-align: center;
}

.about__number {
	display: block;
	margin-bottom: 1rem;
	font-size: 4.2rem;
	color: $green;
}

.about__wrapper {
	text-align: center;
	margin-bottom: 11rem;
}

.about__main {
	display: block;
	margin-bottom: 4rem;
}

.about__link {
	display: inline-block;
	font-weight: 400;
	text-decoration: none;
}

@media (max-width: 534px) {
	.about__amount:not(:last-child) {
		margin-bottom: 2rem;
	}
}

@media (min-width: 535px) {
	.about__amounts {
		display: flex;
	}

	.about__amount:not(:last-child) {
		margin-right: 4rem;
	}
}

@media (max-width: 1049px) {
	.about__inner {
		margin-bottom: 5rem;
		text-align: center;
	}
}

@media (min-width: 1050px) {
	.about__container {
		display: flex;
	}

	.about__inner {
		margin-right: 5rem;
	}

	.about__in-numbers {
		flex-shrink: 0;
		justify-content: center;
	}
}