@import "../variables";

.field {
	display: block;

	&--hidden-hint {
		.field__hint {
			position: absolute;
			left: -9999px;
		}
	}

	&--gray {
		.field__input {
			background-color: #162029;
			color: $gray;
			border: 2px solid #162029;
			border-radius: 3px;

			&:focus {
				border-color: $green;
			}
		}
	}

	&--l {
		.field__input {
			padding: 1rem;
			border-radius: 3px;
		}
	}
}

.field__hint {
	display: block;
	margin-bottom: 1rem;
}

.field__input {
	box-sizing: border-box;
	width: 100%;
	border: 2px solid $gray;
	font-family: inherit;
	appearance: none;
	transition: border-color 0.25s;

	&::-moz-placeholder {
		color: $gray;
	}

	&::-webkit-input-placeholder {
		color: $gray;
	}

	&:focus {
		border-color: darken($gray, 20%);
		outline: none;
	}
}
