@import "../variables";

.header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #151f28;
	width: 100%;
	z-index: 999;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header__logo {
	margin-right: 5rem;
}