@import "../variables";

.preview {
	background-image: linear-gradient(to right, #294026 0%, #151f28 49%, #294026 100%);
	margin-top: 65px;
}

.preview__container {
	background: url("../images/background.png") no-repeat right 25px top;
	position: relative;
}

.preview__img {
	position: absolute;
}

.preview__slogan-text {
	display: block;
	font-weight: 700;
}

@media (max-width: 669px) {
	.preview__container {
		height: 450px;
		background-size: cover;
	}

	.preview__slogan {
		margin-top: 29rem;
	}

	.preview__slogan-text {
		font-size: 3rem;
	}

	.preview__pre-sale {
		padding: 3.5rem 1rem;
	}

	.preview__pre-sale {
		bottom: -205px;
	}

	.preview {
		margin-bottom: 26rem;
	}

	.preview__slogan-text:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}

@media (min-width: 670px) {
	.preview__container {
		height: 308px;
	}

	.preview__slogan-text {
		font-size: 4.2rem;
	}

	.preview__pre-sale {
		padding: 3.5rem 4rem;
	}

	.preview__slogan-text:not(:last-child) {
		margin-bottom: 2.5rem;
	}
}

@media (min-width: 670px) and (max-width: 1169px) {
	.preview__img {
		left: 0;
	}

	.preview__slogan {
		margin-left: 27rem;
		padding-top: 4rem;
	}

	.preview__pre-sale {
		bottom: -130px;
	}

	.preview {
		margin-bottom: 20rem;
	}
}

@media (max-width: 1169px) {
	.preview__pre-sale {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 85%;
	}

	.preview__container {
		display: flex;
		justify-content: center;
	}

	.preview__img {
		top: -7%;
	}
}

@media (min-width: 1170px) {
	.preview__container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.preview__pre-sale {
		margin-left: 5rem;
	}

	.preview__img {
		left: -48px;
		top: -12%;
	}

	.preview {
		margin-bottom: 5rem;
	}
}