@import "../variables";

.pre-sale {
	background-color: $light-black;
	box-shadow: 0.1px 2px 18.1px 2.9px rgba(9, 12, 18, 0.24);
}

.pre-sale__name {
	text-transform: uppercase;
	display: block;
	margin-bottom: 2rem;
	font-size: 1.4rem;
}

.pre-sale__button {
	border-radius: 3px;
	font-weight: 400;
}

@media (max-width: 669px) {
	.pre-sale {
		flex-direction: column;
	}

	.pre-sale__inner {
		margin-bottom: 3rem;
	}

	.pre-sale__button {
		font-size: 1.4rem;
	}
}

@media (min-width: 670px) and (max-width: 1169px) {

	.pre-sale__inner {
		margin-right: 10%;
	}

	.pre-sale {
		justify-content: center;
	}

	.pre-sale__button {
		font-size: 1.8rem;
	}
}

@media (max-width: 1169px) {
	.pre-sale__button {
		padding: 2rem 6rem;
	}

	.pre-sale {
		display: flex;
		align-items: center;
	}
}

@media (min-width: 1170px) {
	.pre-sale__time {
		margin-bottom: 3rem;
	}

	.pre-sale__button {
		font-size: 1.6rem;
		padding: 2rem 2.5rem 2rem 2.4rem;
	}
}