@import "../variables";

.team__title {
	margin-bottom: 2.5rem;
}

.team__description {
	display: block;
	margin-bottom: 4rem;
}

.team__owl-carousel {
	width: calc(100% - 80px);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 13rem;
}

.team__fundery {
	text-align: center;
}

.team__fundery-text {
	display: block;
	margin-bottom: 1rem;
}