@import "../variables";

.token__title {
	margin-bottom: 2.5rem;
}

.token__sale {
	position: relative;
	padding: 1rem 3rem;
	height: 80px;
	background-color: $light-black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: -86px;
		transform: translateY(-50%);
		border: 41px solid transparent;
		border-left: 45px solid $light-black;
	}
}

.token__sale-link {
	margin-left: .5rem;
}

.token__sale-date {
	color: $gray;
	display: block;
	margin-top: .5rem;
}

.token__buy-button {
	font-weight: 400;
	font-size: 1.6rem;
}

@media (max-width: 909px) {

	.token__sales {
		width: calc(100% - 80px);
		margin-bottom: 3rem;
	}

	.token__buy {
		text-align: center;
	}

	.token__buy-time {
		display: none;
	}
}

@media (min-width: 910px) {
	.token__sales {
		width: 44%;
		margin-right: 20%;
	}

	.token__container {
		display: flex;
		align-items: center;
	}

	.token__buy-time {
		margin-bottom: 5rem;
	}

	.token__buy {
		padding: 6.5rem 2rem 4rem;
		border: solid 1px $green;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 36%;
	}
}