@import "../variables";

.token__title {
	margin-bottom: 2.5rem;
}

.token__sale {
	position: relative;
	padding: 3rem;
	background-color: $light-black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: -93px;
		transform: translateY(-50%);
	}
}

.token__sale-link {
	margin-left: .5rem;
}

.token__sale-date {
	color: $gray;
	display: block;
	margin-top: .5rem;
}

.token__buy-link {
	display: inline-block;
	font-weight: 400;
	text-decoration: none;
}

@media (max-width: 909px) {

	.token__sales {
		width: calc(100% - 80px);
		margin-bottom: 3rem;
	}

	.token__buy {
		text-align: center;
	}

	.token__buy-time {
		display: none;
	}

	.token__sale {
		height: 77px;

		&::after {
			border: 38px solid transparent;
			border-left: 55px solid $light-black;
		}
	}
}

@media (min-width: 910px) {
	.token__sales {
		width: 44%;
		margin-right: 20%;
	}

	.token__container {
		display: flex;
		align-items: center;
	}

	.token__buy-time {
		display: flex;
		text-shadow: 0.1px 2px 18.1px rgba(9, 12, 18, 0.24);
		margin-bottom: 5rem;
	}

	.token__buy-time-item {
		text-align: center;

		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	.token__buy-time-number {
		display: block;
		margin-bottom: .5rem;
		font-size: 4rem;
	}

	.token__buy-time-name {
		display: block;
		text-transform: uppercase;
		font-size: 1.4rem;
	}

	.token__buy {
		padding: 6.5rem 2rem 4rem;
		border: solid 1px $green;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 36%;
	}

	.token__sale {
		height: 100px;

		&::after {
			border: 51px solid transparent;
			border-left: 43px solid $light-black;
		}
	}
}