@import "../variables";


.token-distribution__supply {
	display: block;
	margin-bottom: 2rem;
}

.token-distribution__supply-amount {
	color: $green;
	margin-left: .5rem;
}

@media (max-width: 899px) {
	.token-distribution__title {
		margin-bottom: 3.5rem;
	}
}

@media (min-width: 900px) {
	.token-distribution__title {
		margin-bottom: 5.5rem;
	}
}